extends ./partials/layout

block content
  h1 #{title}
  form(action="/album/create" method="post" enctype="multipart/form-data")
    input(type="text" name="title")
    input(type="submit" value="Créer")
  if errorMessage
    div.alert.alert-danger
      | #{errorMessage}