* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  min-height: 100vh;
}

nav {
  grid-area: nav;
  background-color: #333;
  color: #fff;
  padding: 10px;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: 200px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }

  p {
    margin-top: 10px;
    text-align: center;
  }
}